
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

$mobileBreakpoint: 600px;
$tabletBreakpoint: 768px;

@keyframes heart{
  0%{transform:translateY(2px) scale(1)}
  35%{transform:translateY(2px) scale(1.3)}
  50%{transform:translateY(2px) scale(1)}
  70%{transform:translateY(2px) scale(1.3)}
  100%{transform:translateY(2px) scale(1)}
}
footer .socket img {
  width: 15px;
  height: auto;
  animation-name: heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transform: translateY(2px) scale(1);
  transition: all .3s;
  margin: 0 5px;
  padding: 3px!important;
}


body {
  margin: 0;
}

.rexfont_init {
  z-index: 2;
  white-space: pre;
}

body * {
  font-family: 'Inter';
}

*, *::before, *::after {
  box-sizing: border-box;
}

.separator {
  height: var(--l6-text-fontSize);
}

.scroll {
  overflow: scroll;
}

.hide {
  display: none!important;
}

.container {
  padding: 30px max(8vw, 20px);
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
  position: relative;
  align-items: center;
  /* z-index: 2; */
}

.subcontainer {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  align-items: center;
  align-content: space-around;
  position: relative;
  width: 100%;
}

.wide {
  width: 100%
}

.sidebar {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 40px;
}

.splitToLeft {
  display: grid;
  grid-template-columns: 1fr 48vw;
}

.splitToTop {
  flex-wrap: nowrap;
  flex-direction: column;
}

.splitToRight {
  display: grid;
  grid-template-columns: 48vw 1fr;
}

.leftSidebar {
  display: grid;
  grid-template-columns: 10vw 1fr;
}

.topy {
  align-items: flex-start!important;
}

.righty {
  align-items: flex-start;
}
.righty.centerOnTablet {
  @media screen and (max-width: $tabletBreakpoint) {
    align-items: center;
  }
}

.lefty {
  align-items: flex-start;
}

.packed > * {
  margin: 1.4vw 0!important;
}

.packed {
  align-content: center;
}

.extraSpace {
  padding-top: 100px!important;
  padding-bottom: 100px!important;
}

.horizontal {
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
  justify-content: space-between;
}

.horizontal.horizontalTabletBreak {
  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.horizontal.horizontalMobileBreak {
  @media screen and (max-width: $mobileBreakpoint) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.horizontal.spread {
  justify-content: space-between;
  width: 100%;
}

.vertical {
  flex-direction: column;
  flex-wrap: nowrap;
}
.vertical.horizontalTabletBreak {
  @media screen and (max-width: $tabletBreakpoint) {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 10px;
  }
}

.centerMarge {
  justify-content: center;
  align-content: center;
}

.centerMarge > * {
  margin: 5px 1vw;
}

.splitToLeft, .splitToRight {
  @media screen and (max-width: $tabletBreakpoint) {
    grid-template-columns: none;
    grid-auto-flow: row;
    display: grid;
    justify-content: space-between!important;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .horizontal {
    width: 100%;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .subcontainer {
    text-align-last: center;
    justify-content: center;
    row-gap: 10px;
    text-align: center;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .split {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .extraSpace {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .spread {
    flex-wrap: wrap!important;
    flex-direction: row!important;
    justify-content: space-between!important;
  }
}
@media screen and (max-width: $tabletBreakpoint) {
  .sidebar {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto auto;
    row-gap: 40px;
  }
}


  .subcontainer {
    @media screen and (max-width: $mobileBreakpoint) {
    text-align: center;
    }
  }

  .horizontal {
    @media screen and (max-width: $mobileBreakpoint) {
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    }
  }

.center {
  justify-content: center!important;
  align-content: center!important;
}