.cover {
  position: relative;
}

.top, .bottom {
  position: relative;
}

.top {
  transform: translate(-3vw, 1vw) scale(0.8);
  height: 10vw;
}

.main {
  transform: translate(3vw, -3vw) scale(0.8);
  height: 22vw;
}

@media (max-width: 768px) {
  .main {
    height: 56vw;
  }
}