.button {
  cursor: pointer;
  border: 0 solid #43a047;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: relative;
  grid-auto-flow: column;
  place-items: center;
  text-decoration: none;
  min-width: max-content;
  padding: 0;
}

.button:hover .buttonBg {
  filter: brightness(0.9);
  box-shadow: 0 8px 20px -14px #000000a1;
}

.button:active .buttonBg {
  filter: brightness(0.8);
  box-shadow: 0 8px 13px -11px #000000;
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
}

.iconButton {
  display: grid;
  grid-template-columns: max-content auto;
  padding: 0 18px;
  width: 100%;
  /* padding-right: 6%; */
  justify-content: start;
  column-gap: max(5%, 10px);
}

.buttonText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ax_btn_color);
  font-family: "Inter", Arial, sans-serif;
  letter-spacing: -0.02rem;
  font-size: var(--standard-button-fontSize);
  position: relative;
  width: 100%;
  text-align: center;
}

.buttonBg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 3px;
  transition: all .3s;
}


/* sizes */

/* medium */
.medium {
  width: max(15vw, 130px);
  height: max(3.5vw, 35px);
}

.medium .buttonText {
  font-size: var(--standard-button-fontSize);
  font-weight: 600;
}

/* large */
.large {
  width: max-content;
  width: max(19vw, 220px);
  height: max(4vw, 50px);
}

/* small */
.small {
  width: max(7vw, 100px);
  height: max(2vw, 40px);
}

.small .buttonText {
  font-size: var(--standard-text-fontSize);
  font-weight: 400;
}