.header {
  display: flex;
  align-items: center;
  padding: 0 7%;
  position: sticky;
  top: 0;
  height: auto;
  z-index: 999999;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  background-color: #ffffff2b;
}

.header > * {
  margin: 0 1%;
}

@media(max-width: 600px) {
  .header > * {
      margin: 0;
  }
}