.mainText {
  font-size: var(--xxLarge-text-fontSize);
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.1rem;
  word-spacing: 2px;
  margin: 0px;
}

.textleft {
  text-align: left;
}

.default {
  position: relative;
  z-index: 2;
}

.wide {
  width: 100%;
}

.subMainText {
  font-size: var(--large-text-fontSize);
  font-weight: 500;
  text-align: center;
  margin: 0px;
  letter-spacing: -0.05rem;
}

.center {
  text-align: center!important;
}

.boxTitle {
  margin: 0;
  width: 100%;
  text-align: center;
}

.paragraph {
  text-align: justify;
  font-weight: 500;
  font-size: var(--standard-text-fontSize);
}

.nomargin {
  margin: 0;
}

.paragraph a {
  color: var(--links_colors);
  text-align: justify;
  font-weight: 400;
  text-decoration: none;
  font-size: var(--standard-text-fontSize);
}

.sectionIntro {
  border-bottom: 2px solid #00000026;
  margin-top: 0;
}

/* sizes */
.sectionIntro.small {
  border: none;
  font-size: var(--smallLarge-text-fontSize);
  font-weight: 400;
}

.sectionIntro.large {
  font-size: var(--xLarge-text-fontSize);
  font-weight: 700;
}