.flex li {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-right: 16px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.flex li::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: var(--dimDark);
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 0;
  transform: translate(10px, 0px);
}

.flex li:last-child::after {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 17px;
  padding: 0;
}

.list li {
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.list .number {
  background-color: #C4C4C4;
  border-radius: 2px;
  padding: 2px 4px;
}

.number {
  font-size: var(--standard-text-fontSize);
  margin-right: 3px;
}

.name {
  font-size: var(--midSmall-text-fontSize);
}
